.banner {
    background-image: url(https://static.hosteltur.com/app/public/uploads/img/releases/2019/04/22/L_094507_34516373783-35d9b41646-o.jpg);
    background-size: cover;
    position: relative;
  }
  
  .banner::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  .banner-info {
    position: relative;
  }
  
  footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
  }
  
  body {
    margin-bottom: 300px;
  }